<div class= "index-page">
  <div class= "items">
  <% @posts.each do |post| %>

        <div class= "item">
             <p><%= image_tag post.member.get_profile_image(15,15) %>
                <span class="member-name">
                <% if member_signed_in? %>
                  <%= link_to member_path(post.member.id) do %>
                    <%= post.member.name %>
                  <% end %>
                <% else %>
                    <%= post.member.name %>
                <% end %>
                </span>
              </p>


            <div>
              <% if member_signed_in? %>
                <%= link_to post_path(post.id) do %>
                  <%= image_tag post.get_image(100,100) %>
                <% end %>
              <% else %>
                <%= link_to admin_post_path(post.id) do %>
                  <%= image_tag post.get_image(100,100) %>
                <% end %>
              <% end %>

            </div>
            <h6><%= post.title %></h6>
        <!--応援ボタンは会員側のみに表示するようにしています-->
        <% if member_signed_in? %>
          <% if post.yelled_by?(current_member) %>
            <%= link_to post_yells_path(post.id), method: :delete do %>
              <button type="button" class="fas fa-thumbs-up"><i class="fas fa-thumbs-up"></i></button>
          <% end %>
            <!--応援ボタン作成-->
          <% else %>
            <%= link_to post_yells_path(post.id), method: :post do %>
              <button type="button" class="btn-border-gradient-wrap"><i class="far fa-thumbs-up"></i></button>
            <% end %>
          <% end %>
        <% end %>

        </div>
  <% end %>
  <div class= "index-pagenate"><%= paginate @posts%></div>
  </div>
</div>