<body class= "post-index-content">
  <div class= "row">
    <div class= "col-sm-12 col-md-12 col-lg-12">

            <% if @range == 'クリエイター' %>
            <h4 class= "post-index-title">
              <img class= "index-image" src="<%= asset_pack_path "media/images/memberkensaku.png" %>">クリエイター「<%= @word %>」検索結果
            </h4>
            <p class= "post-soat">
              <%= link_to '新着順', search_path(member_latest: "ture", range: @range, word: @word, search: @search) %>
              <%= link_to '古い順', search_path(member_old: "ture", range: @range, word: @word, search: @search) %>
            </p>
                <div class= "member_search">
                  <div class= "items">
                    <% @members.each do |member| %>
                      <div class= "image">
                        <%= link_to member_path(member.id) do %>
                          <div><%= member.name %></div>
                          <div><%= image_tag member.get_profile_image(150,150) %></div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class= "search_paginate">
                    <%= paginate @members %>
                </div>

            <% elsif @range == 'イラスト' %>
            <h4 class= "post-index-title">
              <img class= "index-image" src="<%= asset_pack_path "media/images/post_search.png" %>">イラスト「<%= @word %>」検索結果
            </h4>
            <p class= "post-soat">
              <%= link_to '新着順', search_path(latest: "ture", range: @range, word: @word, search: @search) %>
              <%= link_to '古い順', search_path(old: "ture", range: @range, word: @word, search: @search) %>
            </p>
              <%= render "public/posts/index", post: @posts %>
            <% else %><!--タグの検索結果です-->
              <h4 class= "post-index-title">
                <img class= "index-image" src="<%= asset_pack_path "media/images/tagkensaku.png" %>">タグ「<%= @word %>」の検索結果
              </h4>
              <p class= "post-soat">
                <%= link_to '新着順', search_path(latest: "ture", range: @range, word: @word, search: @search) %>
                <%= link_to '古い順', search_path(old: "ture", range: @range, word: @word, search: @search) %>
              </p>
              <%= render "public/posts/index", post: @posts %>
            <% end %>
    </div>
  </div>
</body>