<body class= "log_in-admin-content">
  <div class= "row">
    <div class= "col-sm-12 col-md-12 col-lg-12">
          <% if @range == 'クリエイター' %>
            <h4 class= "post-index-title">
                <img class= "index-image" src="/assets/メンバー検索用.png">メンバー検索結果
            </h4>
            <% @members.each do |member| %>
              <%= image_tag member.get_profile_image(100,100) %></br>
              <%= member.name %>
            <% end %>
          <% elsif @range == 'イラスト' %>
            <h4 class= "post-index-title">
              <img class= "index-image" src="/assets/投稿検索用.png">投稿ワード検索結果
            </h4>
            <p class= "post-soat">
              <%= link_to '新着順', admin_search_path(latest: "ture") %>
              <%= link_to '古い順', admin_search_path(old: "ture") %>
            </p>
            <%= render "public/posts/index", post: @posts %>
          <% else %>
            <h4 class= "post-index-title">
              <img class= "index-image" src="/assets/タグ検索用.png">タグワード検索結果
            </h4>
            <%= render "public/posts/index", post: @posts %>
          <% end %>
    </div>
  </div>
</body>