<h1>マイページ</h1>
  <table>
    <tr>
      <%= image_tag @member.get_profile_image(300,300) %>

      <% if @member.name != 'guestmember' %>
      <p><%= link_to 'プロフィール編集', edit_member_path %></p>
      <% end %>
    </tr>
    <tr>
      <th><%= @member.name %></th>
    </tr>
    <tr>
      <th>紹介文が入ります<%= @member.introduction %></th>
    </tr>
    <tr>
      <th>新規投稿ボタン追加します</th>
    </tr>
    <tr>
      <th><%= link_to '応援一覧', yells_member_path(@member) %></th>
    </tr>
  </table>
