<body class= "log_in-admin-content">
  <div class= "container-fluid">
    <div class= "row">
      <div class= "col-sm-12 col-md-12 col-lg-12">
        <div class= "post-show-page">
          <div class= "items">
              <h1>投稿詳細(管理者)</h1>
                <div><%= image_tag @post.get_imege_full(800,800) %></div>

                <h4>
                  <span><%= @post.view_counts.count %><i class="fas fa-heart" style="color: rgba(255,129,137,100);"></i></span>
                  <!--レート機能の情報を持ってきています-->
                  <%= render "public/posts/star", post: @post %>
                  <span class= "creater_link">
                     製作者:<%= @post.member.name %>
                  </span>

                  <!--管理者による投稿削除機能-->
                  <%= link_to admin_post_path(@post.id), method: :delete, data: {confirm: "投稿を削除しますか？" } do %>
                      <button type="button" class="btn btn-danger btn-sm">不適切な投稿削除</button>
                  <% end %>
                </h4>

                <!--タグ-->
                  <h3 class= "item2"><%= @post.title %>
                    <div class= "tag-name">
                      タグ:
                      <% @post_tags.each do |tag| %>
                        <%= link_to tag.name, admin_search_path(latest: "ture", range: "タグ", word: tag.name, search: "perfect_match") %>
                      <% end %>
                    </div>
                  </h3>
                   <!--制作日-->
                  <h6><%= l @post.created_at %></h6>
                  <!--作品紹介-->
                  <h6 class= "body"><%= @post.body %></h6>
                  <!--アピールポイント-->
                  <h5 class= "point-time">ここ見て！</h5>
                  <h6><%= @post.appeal_point %></h6>

                  <h5>改善点</h5>
                  <h6><%= @post.improve_point %></h6>

                  <h5>制作時間</h5>
                  <h6>
                    <%= @post.production_time %>
                    <span><%= @post.unit_i18n %></span>
                  </h6>

            <div class= "comment-area">
            <h3>コメント</h3>
            <table>
                  <!--1、コメントしたメンバーのアイコン＋コメント-->
              <% @post.post_comments.each do |post_comment| %>
                <% if post_comment.member.is_deleted == true %><!--退会済みメンバーの表示-->
                    <tr>
                      <!--退会専用画像-->
                      <td><img  src="<%= asset_pack_path "media/images/not-member.png" %>"style="max-width: 100px; max-height: 100px;"></td>
                      <!--専用メッセージ-->
                      <td class= "comment">このメンバーは既に退会されています。</td>
                    </tr>
                    <tr>
                      <td>Member_"<%= post_comment.member.id %>"</td>
                    </tr>
                <% else %>
                    <tr>
                      <td><%= image_tag post_comment.member.get_profile_image(100,100) %></td>
                      <% if post_comment.is_deleted == false %>
                        <td class= "comment"><%= post_comment.comment %></td>
                      <% else %>
                        <td class= "comment">このコメントは不適切と判断されたため、管理者によって削除されました。</td>
                      <% end %>

                    <!--管理者によるコメント削除機能-->
                      <td class= "delete-btn">

                          <% if post_comment.is_deleted == false %>
                            <%= link_to admin_post_post_comment_path(post_comment.post, post_comment), method: :patch,data: {confirm: "コメントを非表示にしますか？" } do %>
                              <button type="button" class="btn btn-danger btn-sm"><i class="fas fa-low-vision"></i></button>
                              <!--<button type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>-->
                            <% end %>

                          <% else %>
                            <%= link_to admin_post_post_comment_path(post_comment.post, post_comment), method: :patch,data: {confirm: "コメントを復活させますか？" } do %>
                              <button type="button" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></button>
                            <% end %>
                          <% end %>
                      </td>
                    </tr>
                    <!--コメントしたメンバーの名前-->
                    <tr>
                      <td class= "comment-member">
                          <%= post_comment.member.name %>
                      </td>
                    </tr>
                <% end %>
               <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>