<h1>投稿詳細(管理者画面)</h1>
<h4>画像</h4>
  <div><%= image_tag @post.get_image(500,500) %></div>

  <h4>
    <span>閲覧数設置♡</span>
    <!--レート機能の情報を持ってきています-->
    <%= render "public/posts/star", post: @post %>

    <!--管理者による投稿削除機能-->
        <%= link_to admin_post_path(@post.id), method: :delete, data: {confirm: "投稿を削除しますか？" } do %>
            <button type="button" class="btn btn-danger btn-sm">不適切な投稿削除</button>
        <% end %>
  </h4>

  <!--タイトルの横にタグを設置。あとでタグクリックで一覧に飛ぶようにリンクを追加する-->
  <h3><%= @post.title %>
    <span>
      <% @post_tags.each do |tag| %>
      <%= tag.name %>
      <% end %>
    </span>
  </h3>

  <h4>製作者:<%= @post.member.name %></h4>

  <h5><%= @post.body %></h5>

  <h5>ここ見て！</h5>
  <h5><%= @post.appeal_point %></h5>

  <h5>制作時間</h5>
  <h5><%= @post.improve_point %></h5>

  <h5>
    <%= @post.production_time %>
    <span><%= @post.unit_i18n %></span>
  </h5>

  <h3>コメント</h3>

  <table>
    <!--1、コメントしたメンバーのアイコン＋コメント-->
    <% @post.post_comments.each do |post_comment| %>
          <tr>
            <td><%= image_tag post_comment.member.get_profile_image(100,100) %></td>
            <% if post_comment.is_deleted == false %>
              <td><%= post_comment.comment %></td>
            <% else %>
              <td>このコメントは不適切と判断されたため、管理者によって削除されました。</td>
            <% end %>
          </tr>


    <!--コメントしたメンバーの名前(マイページリンク付き)-->
          <tr>
            <td>
              <%= link_to member_path(post_comment.member.id) do %>
                <%= post_comment.member.name %>
              <% end %>
            </td>
          </tr>

          <tr>
            <td>
          <!--管理者によるコメント削除機能-->
                <% if post_comment.is_deleted == false %>
                  <%= link_to admin_post_post_comment_path(post_comment.post, post_comment), method: :patch,data: {confirm: "コメントを削除しますか？" } do %>
                    <button type="button" class="btn btn-danger btn-sm">コメント削除</button>
                  <% end %>

                <% else %>
                  <%= link_to admin_post_post_comment_path(post_comment.post, post_comment), method: :patch,data: {confirm: "コメントを復活させますか？" } do %>
                    <button type="button" class="btn btn-success btn-sm">コメント復活</button>
                  <% end %>
                <% end %>

            </td>
          </tr>

    <% end %>
  </table>

  <h1>空白</h1>