
             <h3>コメント</h3>
            <table class= "area">
              <!--1、コメントしたメンバーのアイコン＋コメント-->
              <% @post.post_comments.each do |post_comment| %>
                    <tr>
                      <td><%= image_tag post_comment.member.get_profile_image(100,100) %></td>
                      <% if post_comment.is_deleted == false %>
                        <td class= "comment"><%= post_comment.comment %></td>
                      <% else %>
                        <td class= "comment">このコメントは不適切と判断されたため、管理者によって削除されました。</td>
                      <% end %>

                      <!--コメント削除機能-->
                      <%= render "public/posts/comment_delete", post_comment: post_comment %>
                    </tr>

                    <tr>
                      <!--コメントしたメンバーの名前(マイページリンク付き)-->
                      <td class= "comment-member">
                        <%= link_to member_path(post_comment.member.id) do %>
                          <%= post_comment.member.name %>
                        <% end %>
                      </td>
                    </tr>
              <% end %>
            </table>

