<body class= main-content>
  <div class= "containe-fluid">
    <div class= "row">
        <div class= "col-sm-12 col-md-12 col-lg-6">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "public/shared/error_messages", resource: resource %>

            <main class= "sign_in">
              <div class= "image-container">
                <img class= title-logo src="/assets/title-logo.png">
              </div>
                <div class="form-group">
                  <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: 'ニックネーム'%>
                </div>

                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email", placeholder: 'メールアドレス' %>
                </div>

                <div class="form-group">
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: 'パスワード(6文字以上)' %>
                </div>

                <div class="form-group">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: 'パスワード(確認用)' %>
                </div>

                <div class="actions">
                  <%= f.submit "新規登録", class: 'btn btn-primary' %>
                </div>
              <% end %>
              <h6>既に会員の方は<%= render "public/shared/links" %></h6>
            </main>
        </div>

        <div class= "col-sm-12 col-md-12 col-lg-6">
          <div class= "h2-content">
            <h2 class= "text-content">創作活動を頑張る</br>
              あなたを応援します！
            </h2>
          </div>
        </div>

    </div>
  </div>
</body>