<div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
</div>

<nav class="hamburger-menu">
    <ul>
      <% if member_signed_in? %>
        <li>
          <a href="#"><%= link_to 'トップページ', root_path %></a>
        </li>
        <li>
          <a href="#"><%= link_to 'マイページ', member_path(current_member) %></a>
        </li>
        <li>
          <a href="#"><%= link_to '新規投稿', new_post_path %></a>
        </li>
        <li>
          <a href="#"><%= link_to '投稿一覧', posts_path %></a>
        </li>
        <li>
          <a href="#"><%= link_to '応援一覧', yells_member_path(current_member) %></a>
        </li>
        <li>
          <a href="#"><%= link_to 'ログアウト', destroy_member_session_path, method: :delete %></a>
        </li>

      <% elsif admin_signed_in? %>

        <li>
          <a href="#"><%= link_to '会員一覧', admin_path %></a>
        </li>
        <li>
          <a href="#"><%= link_to '投稿一覧', admin_posts_path %></a>
        </li>
        <li>
          <a href="#"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></a>
        </li>

      <% else %>

        <li>
          <a href="#"><%= link_to '新規会員登録', new_member_registration_path %></a>
        </li>
        <li>
          <a href="#"><%= link_to 'ログイン', new_member_session_path %></a>
        </li>
      <% end %>
    </ul>
</nav>
