<!DOCTYPE html>
<html>
  <head>
    <title>PenAttack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="public/tops.scss" />

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
         <header>
           <!--検索窓、会員、管理者、未ログイン-->
           <% if member_signed_in? %>
              <%= form_with url: search_path, method: :get do |f| %>
              <%= render 'layouts/search', f: f %>
              <% end %>
           <% elsif admin_signed_in? %>
              <%= form_with url: admin_search_path, method: :get do |f| %>
              <%= render 'layouts/search', f: f %>
              <% end %>
           <% else %>
            <!--広告等を載せても良い-->
           <% end %>
           <!--ハンバーガーメニュー-->
           <%= render 'layouts/header' %>
         </header>

       <main class= "application-main">

       <div class="aleart"><%= alert %></div>
       <div class="aleart"><%= flash[:error] %></div>
       <div class="notice"><%= render 'layouts/flash' %></div>
          <%= yield %>

       </main>

         <footer>
           <%= render 'layouts/footer' %>
         </footer>
    </body>
</html>
