<!DOCTYPE html>
<html>
  <head>
    <title>PenAttack</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
         <header>
           <!--検索窓-->
           <% if member_signed_in? %>
              <%= form_with url: search_path, method: :get do |f| %>
              <%= render 'layouts/search', f: f %>
              <% end %>
           <% else %>
              <%= form_with url: admin_search_path, method: :get do |f| %>
              <%= render 'layouts/search', f: f %>
              <% end %>
           <% end %>
           <!--ハンバーガーメニュー-->
           <%= render 'layouts/header' %>
         </header>
       <main class= "application-main">
          <%= yield %>
       </main>
         <footer>
           <%= render 'layouts/footer' %>
         </footer>
    </body>
</html>
